# JavaScript tooling
/node_modules/
/dist/
*.log
*.tsbuildinfo
.eslintcache

# Tauri and Cargo
/src-tauri/.generated/
/src-tauri/binaries/
/src-tauri/gen/
/src-tauri/target/

# Editors and operating systems
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
*.sw?
